{% extends "application.html" %}
{% block yield %}
  <div class="container" id="body">
    <div class="row">
      <div class="col-md-3">
        <ul class="list-group">
          <li class="list-group-item">
            Teams
            <span class="typcn typcn-user-add-outline pull-right"></span>
          </li>
          <li class="list-group-item">
            <span class="typcn typcn-at"></span> General
          </li>
          <li class="list-group-item">
            <span class="typcn typcn-tag"></span> E-Law Solutions Team
          </li>
          <li class="list-group-item">
            <span class="typcn typcn-tag"></span> Development Team
          </li>
        </ul>
      </div>
      <div class="col-md-6">
        <ul class="list-group scrums" id="inbox">
          <li class="list-group-item" id="input">
              <form action="" method="post" id="messageform">
                <div class="media">
                  <div class="media-left">
                    <a href="#">
                      <img class="media-object img-rounded" src="{{ static_url("images/2jq842IH_bigger.jpg") }}" alt="..." width="42px" height="42px">
                    </a>
                  </div>
                  <div class="media-body">
                    <textarea class="form-control text-editor" name="body" id="message" rows="2" placeholder="What are you doing?"></textarea>
                    <ul class="list-inline tools pull-left">
                      <li><span class="typcn typcn-camera-outline"></span></li>
                      <li><span class="typcn typcn-location-outline"></span></li>
                      <li><span class="typcn typcn-star-outline"></span></li>
                      <li><span class="typcn typcn-flow-children"></span></li>
                    </ul>
                    <button class="btn btn-sm btn-default pull-right" type="submit">
                      <span class="typcn typcn-pen"></span> Scrums
                    </button>
                    <input type="hidden" name="next" value="{{ request.path }}">
                    {% module xsrf_form_html() %}
                  </div>
                </div>
              </form>
          </li>
          {% for message in messages %}
            {% include "message.html" %}
          {% end %}
          {% for post in posts %}
            <li class="list-group-item">
              <div class="media">
                <div class="media-left">
                  <a href="#">
                    <img class="media-object img-rounded" src="{{ static_url("images/2jq842IH_bigger.jpg") }}" alt="..." width="47px" height="47px">
                  </a>
                </div>
                <div class="media-body">
                  <div class="icon icon-arrows-circle-down pull-right"></div>
                  <a class="media-heading">@gianargamosa</a><br>
                  {% module linkify(post.body) %}<br>
                  {{ locale.format_date(post.stamp, gmt_offset=0, relative=True, shorter=False, full_format=True) }}
                  <ul class="list-inline tools">
                    <li><span class="typcn typcn-arrow-back-outline"></span> 0</li>
                    <li><span class="typcn typcn-export-outline"></span> 0</li>
                    <li><span class="typcn typcn-star-outline"></span> 0</li>
                  </ul>
                </div>
              </div>
            </li>
          {% end %}
        </ul>
      </div>
      <div class="col-md-3"></div>
    </div>
  </div>
{% end %}