{% extends "application.html" %}

{% block yield %}
  <div class="container" id="body">
    <div class="row">
      <div class="col-md-3"></div>
      <div class="col-md-6">
        <ul class="list-group">
          <li class="list-group-item">
            <b>Change Picture</b>
            <div class="media">
              <div class="media-left">
                <a href="#">
                  <img class="media-object img-circle" src="data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0iVVRGLTgiIHN0YW5kYWxvbmU9InllcyI/PjxzdmcgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIiB3aWR0aD0iNjQiIGhlaWdodD0iNjQiIHZpZXdCb3g9IjAgMCA2NCA2NCIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+PCEtLQpTb3VyY2UgVVJMOiBob2xkZXIuanMvNjR4NjQKQ3JlYXRlZCB3aXRoIEhvbGRlci5qcyAyLjYuMC4KTGVhcm4gbW9yZSBhdCBodHRwOi8vaG9sZGVyanMuY29tCihjKSAyMDEyLTIwMTUgSXZhbiBNYWxvcGluc2t5IC0gaHR0cDovL2ltc2t5LmNvCi0tPjxkZWZzPjxzdHlsZSB0eXBlPSJ0ZXh0L2NzcyI+PCFbQ0RBVEFbI2hvbGRlcl8xNTlmMjkxMTJkYyB0ZXh0IHsgZmlsbDojQUFBQUFBO2ZvbnQtd2VpZ2h0OmJvbGQ7Zm9udC1mYW1pbHk6QXJpYWwsIEhlbHZldGljYSwgT3BlbiBTYW5zLCBzYW5zLXNlcmlmLCBtb25vc3BhY2U7Zm9udC1zaXplOjEwcHQgfSBdXT48L3N0eWxlPjwvZGVmcz48ZyBpZD0iaG9sZGVyXzE1OWYyOTExMmRjIj48cmVjdCB3aWR0aD0iNjQiIGhlaWdodD0iNjQiIGZpbGw9IiNFRUVFRUUiLz48Zz48dGV4dCB4PSIxMi4xODc1IiB5PSIzNi42NjQwNjI1Ij42NHg2NDwvdGV4dD48L2c+PC9nPjwvc3ZnPg==" alt="..." width="47px" height="47px">
                </a>
              </div>
              <div class="media-body" style="padding-top: 5px;">
                <b class="media-heading">Upload Picture</b><br>
                10MB max file size
              </div>
            </div>
          </li>
          <li class="list-group-item">
            <b>Personal Information</b>
            <form class="form-horizontal margin10">
              <div class="form-group form-group-sm">
                <label for="inputEmail3" class="col-sm-2 control-label">Full Name</label>
                <div class="col-xs-10">
                  <input type="email" class="form-control input-sm" id="inputEmail3" placeholder="Email" value="Arman Gian Argamosa">
                </div>
              </div>
              <div class="form-group form-group-sm">
                <label for="inputEmail3" class="col-sm-2 control-label">Location</label>
                <div class="col-xs-10">
                  <input type="email" class="form-control input-sm" id="inputEmail3" placeholder="Email" value="Philippines">
                </div>
              </div>
              <div class="form-group form-group-sm">
                <label for="inputEmail3" class="col-xs-2 control-label">Email</label>
                <div class="col-xs-10">
                  <input type="email" class="form-control input-sm" id="inputEmail3" placeholder="Email" value="{{ current_user.email }}">
                </div>
              </div>
              <div class="form-group form-group-sm">
                <label for="inputEmail3" class="col-xs-2 control-label">Username</label>
                <div class="col-xs-10">
                  <input type="email" class="form-control input-sm" id="inputEmail3" placeholder="Email" value="{{ current_user.username }}">
                </div>
              </div>
            </form>
          </li>
          <li class="list-group-item">
            <b>Change Password</b>
            <form class="form-horizontal margin10">
              <div class="form-group form-group-sm">
                <label for="inputEmail3" class="col-sm-2 control-label">Current</label>
                <div class="col-xs-10">
                  <input type="password" class="form-control input-sm" id="inputEmail3" placeholder="Current Password">
                </div>
              </div>
              <div class="form-group form-group-sm">
                <label for="inputEmail3" class="col-sm-2 control-label">New</label>
                <div class="col-xs-10">
                  <input type="password" class="form-control input-sm" id="inputEmail3" placeholder="New Password">
                </div>
              </div>
              <div class="form-group form-group-sm">
                <label for="inputEmail3" class="col-sm-2 control-label">Re-type</label>
                <div class="col-xs-10">
                  <input type="password" class="form-control input-sm" id="inputEmail3" placeholder="Re-type Password">
                </div>
              </div>
            </form>
          </li>
          <li class="list-group-item">
            <b>Change Color</b>
            <ul class="list-inline margin10">
              <li><div class="theme theme0"></div></li>
              <li><div class="theme theme1"></div></li>
              <li><div class="theme theme2"></div></li>
              <li><div class="theme theme3"></div></li>
              <li><div class="theme theme4"></div></li>
              <li><div class="theme theme5"></div></li>
              <li><div class="theme theme6"></div></li>
              <li><div class="theme theme8"></div></li>
              <li><div class="theme theme9"></div></li>
              <li><div class="theme theme10"></div></li>
              <li><div class="theme theme11"></div></li>
              <li><div class="theme theme12"></div></li>
              <li><div class="theme theme13"></div></li>
              <li><div class="theme theme14"></div></li>
              <li><div class="theme theme15"></div></li>
              <li><div class="theme theme16"></div></li>
              <li><div class="theme theme17"></div></li>
            </ul>
          </li>
          <li class="list-group-item">Dapibus ac facilisis in</li>
          <li class="list-group-item">Morbi leo risus</li>
          <li class="list-group-item">Porta ac consectetur ac</li>
          <li class="list-group-item">Vestibulum at eros</li>
        </ul>
      </div>
      <div class="col-md-3"></div>
    </div>
  </div>
{% end %}