{% extends "application.html" %}

{% block yield %}
  {% if errors %}
    <ul class="flash-error">
      {% for index, error in enumerate(errors) %}
        <li><span style="color: red">{{ error }}</span></li>
      {% end %}
    </ul>
  {% end %}
  <form action="/users/sign_in" method="POST">
    <fieldset>
      <legend>Register :</legend>
      <label>Username:</label><br>
      <input name="username" type="text"><br>
      <label>Password:</label><br>
      <input name="password" type="password"><br>
      {% module xsrf_form_html() %}
      <br>
      <input type="submit">
    </fieldset>
  </form>
{% end %}
