/*html {
  font-family: Arial, sans-serif;
  font-size: 13px;
}*/

ul.flash-error {
	padding-left: 0;
}

ul.scrums {
	padding-left: 0;
}

/* Sticky footer styles
-------------------------------------------------- */
* {
  font-size: 13px;
  line-height: 13pt;
}

html {
  position: relative;
  min-height: 100%;
  font-family: Arial, sans-serif;
  font-size: 13px;
}

body {
  /* Margin bottom by footer height */
  margin-bottom: 60px;
  padding-top: 60px;
  padding-bottom: 50px;
}
.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 60px;
  background-color: #f5f5f5;
}


/* Custom page CSS
-------------------------------------------------- */
/* Not required for template or sticky footer method. */

.container {
  width: auto;
  max-width: 1217px;
  padding: 0 15px;
}
.container .text-muted {
  margin: 20px 0;
}

textarea.form-control:hover, 
input.form-control:hover, 
textarea.form-control:active, 
input.form-control:active, 
textarea.form-control:focus, 
input.form-control:focus,
button:focus,
button:active,
button:hover,
label:focus,
.btn:active,
.btn.active
{
  border: #ccc 1px solid;
  box-shadow: none;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  -moz-transition: none;
  -webkit-transition: none;
}

textarea.form-control {
  box-shadow: none;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
}

textarea.text-editor {
  margin-bottom: 10px;
  font-size: 13px;
  font-family: Arial, sans-serif;
  resize: none;
}

.navbar-primary {
  font-size: 13px !important;
  background-color: #fff;
  border-bottom: #ddd 1px solid !important;
}

.navbar {
  height: 40px !important;
}

.navbar .dropdown-menu {
  border: #ddd 1px solid !important;
  margin-top: -6px !important;
  margin-right: 14px !important;
  -webkit-border-radius: 0 !important;
    -moz-border-radius: 0 !important;
      border-radius: 0 !important;
  -webkit-box-shadow: 0 5px 15px rgba(0,0,0,0);
    -moz-box-shadow: 0 5px 15px rgba(0,0,0,0);
      -o-box-shadow: 0 5px 15px rgba(0,0,0,0);
        box-shadow: 0 5px 15px rgba(0,0,0,0);
}

.navbar-primary a.profile-pic:hover, 
.navbar-primary a.profile-pic:focus {
  background-color: transparent !important;
  color: #999999 !important;
}

.notification {
  font-size: 22px;
}

.margin10 {
  margin-top: 10px !important;
}

.notification-count {
  float: right;
  /*padding: 2px;*/
  border-radius: 2px;
  width: 15px;
  height: 19px;
  text-align: center;
  margin-top: 8px;
  top: 0;
  left: 29px;
  font-size: 10px;
  color: #337ab7;
  background: #fff;
  border: #337ab7 1px solid;
  position: absolute;
}

.navbar-primary a:hover, 
.navbar-primary a:active,
.navbar-primary a:focus {
  background-color: transparent !important;
}

.color-options {
  margin-top: 10px;
}

.theme {
  border-radius: 100%;
  width: 36px;
  height: 36px;
}

.theme0 {
  background-color: #FF6648;
  border-color: #FF6648;
}

.theme1 {
      background-color: #C6304A;
    border-color: #C6304A;
    color: #C6304A;
}

.theme2 {
      background-color: #4A4A50;
    border-color: #4A4A50;
    color: #4A4A50;
}

.theme3 {
      background-color: #E55EA2;
    border-color: #E55EA2;
    color: #E55EA2;
}

.theme4 {
      background-color: #A0306F;
    border-color: #A0306F;
    color: #A0306F;
}

.theme5 {
  background-color: #642F42;
    border-color: #642F42;
    color: #642F42;
}

.theme6 {
      background-color: #BB8BB8;
    border-color: #BB8BB8;
    color: #BB8BB8;
}

.theme7 {
  background-color: #784589;
    border-color: #784589;
    color: #784589;
}

.theme8 {
      background-color: #553655;
    border-color: #553655;
    color: #553655;
}

.theme9 {
        background-color: #4080D8;
    border-color: #4080D8;
    color: #4080D8;
}

.theme10 {
  background-color: #2D5592;
    border-color: #2D5592;
    color: #2D5592;
}

.theme11 {
  background-color: #292959;
    border-color: #292959;
    color: #292959;
}

.theme12 {
      background-color: #2DC5D5;
    border-color: #2DC5D5;
    color: #2DC5D5;
}

.theme13 {
      background-color: #24A3AE;
    border-color: #24A3AE;
    color: #24A3AE;
}

.theme14 {
      background-color: #116055;
    border-color: #116055;
    color: #116055;
}

.theme15 {
      background-color: #A9CC55;
    border-color: #A9CC55;
    color: #A9CC55;
}

.theme16 {
      background-color: #2F7F47;
    border-color: #2F7F47;
    color: #2F7F47;
}

.theme17 {
  background-color: #095111;
    border-color: #095111;
    color: #095111;
}

